<!DOCTYPE html>
<html>
	<head>
	  <title>Photopie</title>
	  <%= stylesheet_link_tag("application", :media => "all") %>
	  <%= javascript_include_tag("application") %>
	  <!--<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>-->
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>

	<div id="banner"><%= image_tag("photopie_logo_sm.png") %></div>

	<%= yield %>


	<% if !flash[:notice].blank? %>
	  <div class="notice">
		<%= flash[:notice] %>
	  </div>
	<% end %>
	
	</body>
</html>
